body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
}
.title{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 2px 20px rgb(62, 245, 255);
}
.title h1{
    margin: 10px;
}